#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-light);
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section {
    align-items: flex-start;
  }
}
